@charset "UTF-8";
.ps-widget {
  float: left;
  padding: 0 26px 0 24px;
  background-color: #0078d7;
  border: 1px solid transparent;
  border-radius: 0;
  font-family: "Segoe UI, Bold", wf_segoe-ui_normal, wf_segoe-ui_light, wf_segoe-ui_semilight, Segoe UI, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s; }

.ps-widget span {
  font-family: "Segoe UI, Bold", wf_segoe-ui_normal, wf_segoe-ui_light, wf_segoe-ui_semilight, Segoe UI, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold; }

.ps-widget::after {
  display: inline-block;
  margin-left: 4px;
  margin-top: 1px;
  /* content: ""; */
  content: "\20AC";
  vertical-align: top;
  font-family: MWF-MDL2; }

.ps-widget > small {
  display: none; }

.ps-widget.ps-disabled {
  background-color: transparent;
  border: 1px solid #9d9d9e;
  cursor: default;
  color: #9d9d9e; }

.ps-widget.ps-disabled > .ps-button-label {
  display: none; }

.ps-widget.ps-disabled > small {
  font-family: "Segoe UI, Bold", wf_segoe-ui_normal, wf_segoe-ui_light, wf_segoe-ui_semilight, Segoe UI, Arial, sans-serif;
  display: block; }

@media screen and (min-width: 1025px) {
  .ps-widget.ps-disabled:hover {
    background-color: transparent;
    border: 1px solid #9d9d9e;
    cursor: default;
    color: #9d9d9e; } }

@media screen and (min-width: 1025px) {
  .ps-widget:hover {
    background-color: #005da6;
    border: 1px solid transparent;
    border-radius: 0;
    color: #ffffff;
    cursor: pointer; } }

@media screen and (min-width: 1025px) {
  .ps-widget.ps-theme-1:hover > span > span.ps-alt {
    text-decoration: underline; } }

.ps-widget > span > small,
.ps-widget.ps-theme-1 > span > span {
  display: none; }

.ps-widget.ps-theme-1 > span > small {
  display: inline-block;
  font-size: 13px; }

.ps-widget.ps-theme-1 {
  background: none;
  background-color: none;
  color: #0078d7;
  font-family: "Segoe UI, Bold", wf_segoe-ui_normal, wf_segoe-ui_light, wf_segoe-ui_semilight, Segoe UI, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold; }

.ps-widget:after {
  display: inline-block;
  margin-left: 4px;
  margin-top: 1px;
  content: "";
  vertical-align: top;
  font-family: MWF-MDL2; }

.ps-widget.ps-theme-1.ps-disabled {
  color: #9d9d9e;
  font-weight: 300;
  border: none; }

.ps-widget.ps-disabled:after {
  display: none; }

/* disclaimer styles */
.ps-widget {
  position: relative; }

div.ps-wtb-button-disclaimer,
.ps-widget > div.ps-wtb-button-disclaimer,
.ps-widget + div.ps-wtb-button-disclaimer,
.ps-widget ~ div.ps-wtb-button-disclaimer {
  display: none;
  position: absolute;
  left: 60px;
  bottom: 50px;
  background: white;
  border: 1px solid #9d9d9e;
  border-radius: 2px;
  width: 260px;
  padding: 8px;
  font-family: wf_segoe-ui_light, wf_segoe-ui_semilight, wf_segoe-ui_normal, Segoe UI, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #9d9d9e;
  text-align: left;
  text-transform: none;
  box-sizing: border-box; }

@media screen and (min-width: 1025px) {
  .ps-widget {
    overflow: visible !important; }
  .ps-widget:hover > div.ps-wtb-button-disclaimer,
  .ps-widget:hover + div.ps-wtb-button-disclaimer,
  .ps-widget:hover ~ div.ps-wtb-button-disclaimer {
    display: block; } }

/* High contrast changes PDOK-29233 */
@media screen and (-ms-high-contrast: active) {
  .ps-widget.ps-disabled {
    background-color: transparent;
    border: 1px solid graytext;
    cursor: default;
    color: graytext; } }

@media screen and (-ms-high-contrast: white-on-black) {
  .ps-widget.ps-disabled {
    background-color: transparent;
    border: 1px solid graytext;
    cursor: default;
    color: graytext; } }

@media screen and (-ms-high-contrast: black-on-white) {
  .ps-widget.ps-disabled {
    background-color: transparent;
    border: 1px solid graytext;
    cursor: default;
    color: graytext; } }
